@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .wrapper {
    display: flex;
    justify-content: center;
  }

  .scene {
    perspective: 1000px;
    position: relative;
    @apply w-[360px] h-[300px] lg:h-[478px] mb-[100px];
  }

  .scene .carousel.keen-slider {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: visible;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
  }

  .carousel__cell {
    @apply w-[260px] md:w-[360px] lg:h-[478px] overflow-hidden rounded-xl left-[40px] lg:left-[10px] cursor-pointer;
    position: absolute;
  }
}

* {
  scrollbar-width: thin;
}